.main{
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}